<h1><%= @user.name %>'s cactus posts</h1>
<p>Click Create a new entry to create a new entry or select All Entries to see what's going on in the cactus world!</p>
<% @user.cactus_entries.each do |t| %>
<ul>
  <li>
    <a href="/cactus_entries/<%= t.id %>"><%= t.content %></a>
  </li>
</ul><br>
<% end %><br>

