Edit page for Cactus Entry

<form class="" action="/cactus_entries/<%= @cactus_entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Content: </label>
  <textarea name="content" rows="4" cols="50"><%= @cactus_entry.content %></textarea>
  <label for="image">Image: </label>
  <input type="url" name="image" value="">
  <input type="submit" name="" value="Edit Entry">
</form>