<h2>Take a look at what's going on in the cactus world</h2>
<% @cactus_entries.each do |cactus_entry| %>
  <p><%= cactus_entry.content %></p>
  <h5><a href="/cactus_entries/<%= cactus_entry.id %>"><%= cactus_entry.created_at %></a></h5>
<% end %>