<h1>Create a new Cactus Entry</h1>

<form class="" action="/cactus_entries" method="post">
  <label for="content">Content: </label>
  <textarea name="content" rows="4" cols="50"></textarea><br>
  <label for="image">Add photo: </label>
  <input type="url" name="image" value="">
  <img src="" name="image" alt="" height="42" width="42">
  <input type="submit" name="" value="Create Entry">
</form>