NEW PAGE FOR CACTUS ENTRIES
<h1>Create a new Cactus Entry</h1>

<form class="" action="/cactus_entries" method="post">
  <label for="content">Content: </label>
  <textarea name="content" rows="4" cols="50"></textarea><br>
  <label for="image">Add photo: </label>
  <!--<input type="text" name="image" value=""> -->
  <img src="https://cdn11.bigcommerce.com/s-oqm1pc/images/stencil/631x631/products/2606/5523/golden_ball_cactus__69115.1522882144.jpg?c=2" alt="" height="42" width="42">
  <input type="submit" name="" value="Create Entry">
</form>