<h2>Log a new cactus discovery!</h2>

<form class="" action="/cactus_entries" method="post">

  <label for="location">Discovery location: </label>
  <input type="text" name="location" value=""><br><br>

  <label for="content">Cactus Name: </label>
  <input type="text" name="content"><br><br>

  <label for="color_flowers">Bloom status: </label>
  <input type="text" name="color_flowers" value=""><br><br>

  <label for="water_conservation_method">Water conservation method: </label>
  <input type="text" name="water_conservation_method" placeholder="Leaves and spines, stems, roots"><br><br>

  <label for="image">Add photo: </label>
  <input type="url" name="image" value="">

  <img src="" name="image" alt="" height="42" width="42">
  <input type="submit" name="" value="Create Entry">

</form>