NEW PAGE FOR CACTUS ENTRIES
<h1>Create a new Cactus Entry</h1>

<form class="" action="/cactus_entries" method="post">
  <label for="content">Content: </label>
  <input type="text" name="content" value="">
  <label for="image">Add photo: </label>
  <input type="url" name="image" value="">
  <input type="submit" name="" value="Create Entry">
</form>