

<p><%= @cactus_entry.content %></p>
<h3><img src="<%= @cactus_entry.image %>" name="image" alt="" height="300" width="300"></h3>

<% if current_user == @cactus_entry.user %>
<a href="/cactus_entries/<%= @cactus_entry.id %>/edit">Edit Entry</a>
<br><br>
<form class="" action="/cactus_entries/<%= @cactus_entry.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete this Entry">
</form>

<% end %>